.heroContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
    text-align: left;

    & h1 {
        line-height: normal;
        font-size: 54px;
    }

    & h2 {
        font-size: 22px;
    }
}